html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.searchInfo {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.5rem;
    width: 100%;
    margin-top: 3rem;
}

.card {
    border: 2px solid black;
    width: 10%;
    padding: 1rem;
}

img {
    width: 60px;
    height: auto;
}